<!--textarea rows="6" [value]="newPost" #postInput></textarea-->
<!--textarea rows="6" [(ngModel)]="enteredValue"></textarea-->             <!-- 19. Getting User Input -->
<!--hr-->
<!--button (click) = "onSavePost(postInput)">SavePost</button-->
<!--button (click) = "onSavePost()">SavePost</button-->                     <!-- 19. Getting User Input -->
<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm='ngForm'>
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      required
      minlength="2"
      ngModel
      #title='ngModel'>
      <mat-error *ngIf="title.invalid">{{ "Please enter the valid title!" }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      rows="6"
      name="content"
      required
      ngModel
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">{{ 'Please enter the content' }}</mat-error>
    </mat-form-field>
    <button mat-raised-button
    color="accent"
    type="submit">SavePost</button>
  </form>
</mat-card>
